@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1734522966526') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconbofangzanting:before {
  content: "\e667";
}

.icon-paixu-jiangxu:before {
  content: "\e65f";
}

.icon-paixu-shengxu:before {
  content: "\e660";
}

.icon-yule:before {
  content: "\e501";
}

.icon-jiantou:before {
  content: "\e616";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-duigou:before {
  content: "\e65b";
}

.icon-shizhong:before {
  content: "\e54c";
}

.icon-24gl-folderHeart:before {
  content: "\eabf";
}

.icon-fanhui:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-gengduo1:before {
  content: "\e502";
}

.icon-zhengpinbaozhang-duigou:before {
  content: "\e626";
}

.icon-shoucang:before {
  content: "\e611";
}

.icon-play:before {
  content: "\e62c";
}

.icon-folder-5-fill:before {
  content: "\e793";
}

