@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1734509846142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconbofangzanting:before {
  content: "\e667";
}

.icon-yule:before {
  content: "\e501";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-gengduo:before {
  content: "\e502";
}

.icon-play:before {
  content: "\e62c";
}

